appnope==0.1.2
backcall==0.2.0
certifi==2019.11.28
cffi==1.14.4
chardet==3.0.4
colorama==0.4.3
contextlib2==0.6.0
coverage
cryptography==3.3.1
decorator==4.4.2
distlib==0.3.0
distro==1.4.0
Django==2.2.2
django-admin-rangefilter==0.6.3
django-cors-headers==3.2.1
django-extensions==3.1.0
django-log-request-id==1.6.0
django-mysql==3.3.0
django-suit==0.2.28
django-timezone-field==4.1.1
djangorestframework==3.11.0
html5lib==1.0.1
importlib-metadata==3.3.0
ipaddr==2.2.0
ipython
ipython-genutils==0.2.0
jsonfield==3.1.0
lockfile==0.12.2
MarkupSafe==1.1.1
msgpack==0.6.2
mysqlclient==2.0.1
pep517==0.8.2
pexpect==4.8.0
python-dateutil==2.6.0
requests==2.22.0
six==1.14.0
timeutils==0.3.2
